spring:
  application:
    name: NOTIFICATION-SERVICE

  data:
    mongodb:
      uri: mongodb://localhost:27017/notification_service


  mail:
    host: ${SMTP_HOST:smtp.gmail.com}
    port: ${SMTP_PORT:587}
    username: ${SMTP_USERNAME}
    password: ${SMTP_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true